/* IMPOSTAZIONI GENERALI */

/* HEADER */

/* MAIN */


main  {
  margin: 25px 25px 25px;
  font-family: sofia; 
}

/* ELEMENTI NEL MAIN - ARTICLE */

strong {
  color: rgb(133, 5, 105);
  font-weight: bold;
  }

article {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
ol {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}

a {
  color: #467dd0;
  font-weight: bold;
}

/* TABELLE */

table caption{
    font-size:large;
    font-weight: 10;
    padding-top: 15px;
    font-style: italic;
    margin-bottom: 5px;
}

tr:nth-child(2n) {
 background-color:  rgb(214, 211, 211);
}

thead tr th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #467dd0;
    color: white;
    text-align:center;
    
   }


table {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 200px;
  border-bottom: #3a3dd1 2px solid;
  margin-bottom: 20px;
}

td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    padding-left: 12px;
    padding-right: 12px;
    }

    iframe {
      padding-top: 20px;
    }

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
